@page "/endpoints"
@page "/api/endpoints"
@using WebApi.PageComponents
@inject NavigationManager navigation

<h2><b>Endpoints</b></h2>

<br />


<ul>
    <EndpointListItem Title="Fetch all Breeds" UrlSuffix="" Explanation="returns all Breeds" />

    <EndpointListItem Title="Fetch Breed by ID" UrlSuffix="10" Explanation="returns Breed by its ID" />

    <EndpointListItem Title="Fetch a random Breed" UrlSuffix="random" Explanation="returns a random Breed" />

    <EndpointListItem Title="Fetch Breeds by category" UrlSuffix="category/categoryName"
                      Explanation="(toy, herding, sporting, working, hound, terrier, non-sporting...) - returns all Breeds of the specified category" />

    <EndpointListItem Title="Fetch friendly Breeds" UrlSuffix="friendly" Explanation="returns all friendly Breeds" />

    <EndpointListItem Title="Fetch protector Breeds" UrlSuffix="protector" Explanation="returns Breeds that are good as watchdogs" />

    <EndpointListItem Title="Fetch low maitenance Breeds" UrlSuffix="low-maitenance" Explanation="returns Breeds that don't have many needs" />

    <EndpointListItem Title="Fetch intelligent Breeds" UrlSuffix="intelligent" Explanation="returns Breeds that are super intelligent" />

    <li>
        <h5>Fetch dog breed image:</h5>
        <p>
            <span style="background-color: lavender">GET @navigation.BaseUri</span><span style="background-color: lavender">api/images/breedName</span>
            (akita, beagle, dalmatian...) - returns an image of the given breed
        </p>
    </li>
</ul>