@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://www.vetstreet.com/dogs" target="_blank">Source Website</a>
    </div>

    <div class="content px-4" style="margin-left: 60px; margin-top: 60px; margin-right: 150px">
        @Body
    </div>
</div>
